@{
    ViewData["Title"] = "Home Page";
}

<div id="homeContainer">
    <div id="homeLHS">
        <div id="titleWidget"></div>
        <div id="categoriesWidget"></div>
        <div id="roadmapWidget"></div>
        <div id="userWidget"></div>
    </div>
    <div id="homeRHS">
        <div id="feedbackBanner"></div>
        <div id="feedbackContainer"></div>
    </div>
</div>
