@{
    ViewData["Title"] = "Roadmap";
}

<div class="roadmapContainer">
    <div class="roadmapHeader">
        <div class="roadmapHeaderLHS">
            <a class="back">Back</a>
            <p>Roadmap</p>
        </div>
        <a class="invisible" style="margin-left: auto;" asp-controller="Feedback" asp-action="Create"><button class="button purple">+ Add Feedback</button></a>
    </div>
    <div class="roadmapBody">
        <div class="roadmapCategory">
            <div class="roadmapCategoryHeader">
                <p>Planned</p>
                <p>Ideas prioritized for research</p>
            </div>
            <div class="roadmapItem">
                <div class="topBorder planned"></div>
                <div class="roadmapItemCategory">Planned</div>
                <div class="roadmapItemTitle">More comprehensive reports</div>
                <div class="roadmapItemDetails">It would be great to see a more detailed breakdown of solutions.</div>
                <div class="category">Feature</div>
                <div class="roadmapBottom">
                    <div class="feedbackUpvotes" style="flex-direction: row; width: min-content">60</div>
                    <div class="feedbackRHS">
                        <img src="/images/icons/comment.svg" class="comment" />
                        <p>2</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="roadmapCategory">
            <div class="roadmapCategoryHeader">
                <p>In-Progress</p>
                <p>Currently being developed</p>
            </div>
        </div>
        <div class="roadmapCategory">
            <div class="roadmapCategoryHeader">
                <p>Live</p>
                <p>Released features</p>
            </div>
        </div>
    </div>
</div>
