/* Variables */
:root {
    --purple: #AD1FEA;
    --orange: #F49F85;
    --blue: #4661E6;
    --lightblue: #62BCFA;
    --steelblue: #373F68;
    --light-steel-blue: #3A4374;
    --blue-grey: #647196;
    --lightgrey: #F2F4FF;
    --utlra-lightgrey: #F7F8FD;
    --gradient-background: radial-gradient(circle, rgba(232,77,112,1) 0%, rgba(163,55,246,1) 53%, rgba(40,167,237,1) 100%);
}

/* Fonts */
@font-face {
    font-family: 'Jost';
    src: url('/fonts/Jost/Jost-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Base Styles */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
}

html {
    font-family: 'Jost', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--utlra-lightgrey);
}

a {
    color: var(--blue);
    text-decoration: underline;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
    cursor: pointer;
}

textarea {
    font-family: 'Jost', sans-serif;
}

/* Home Page Styles */
#homeContainer {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    max-width: 1300px;
    max-height: 100%;
    gap: 30px;
    padding: 0px 20px 20px 20px;
    margin-top: 95px;
}

#homeLHS {
    display: grid;
    gap: 24px;
    max-width: 255px;
    grid-template-rows: min-content min-content min-content min-content;
}

#homeRHS {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 24px;
}

.widget {
    width: 100%;
    padding: 24px;
    border-radius: 10px;
    background-color: white;
}

#titleWidget {
    background: var(--gradient-background);
    background-size: 200% 200%;
    height: 137px;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

#titleTextContainer > p:nth-child(1) {
    font-size: 20px;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
}

#titleTextContainer > p:nth-child(2) {
    font-size: 15px;
    opacity: 0.75;
    color: white;
}

#categoriesWidget {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 8px;
}

.category {
    padding: 10px 17px;
    background-color: var(--lightgrey);
    color: var(--blue);
    font-size: 13px;
    letter-spacing: 0.5px;
    font-weight: bold;
    width: min-content;
    height: min-content;
    border-radius: 10px;
    cursor: pointer;
}

.categoryOn {
    color: white !important;
    background-color: var(--blue) !important;
}

.widgetHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.widgetHeaderText {
    color: var(--light-steel-blue);
    font-size: 18px;
    font-weight: bold;
}

#roadmapTrackerContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.roadmapTracker {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--blue-grey);
}

.roadmapTrackerLHS {
    display: flex;
    align-items: center;
    gap: 17px;
    font-size: 16px;
}

.roadmapTrackerLHS > span {
    height: 8px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.roadmapTracker:nth-child(1) span {
    background-color: var(--orange);
}

.roadmapTracker:nth-child(2) span {
    background-color: var(--purple);
}

.roadmapTracker:nth-child(3) span {
    background-color: var(--lightblue);
}

.roadmapTrackerValue {
    font-size: 16px;
    font-weight: bold;
}

#userLoggedInContainer {
    display: flex;
    align-items: center;
}

#userLoggedInContainer > p {
    color: var(--blue-grey);
    font-size: 16px;
    margin-left: 8px;
}

#userLoggedInContainer  button {
    all: unset;
    padding: 7px 17px;
    background-color: var(--purple);
    color: white;
    font-size: 13px;
    letter-spacing: 0.5px;
    font-weight: bold;
    width: min-content;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
}

.pfp {
    border-radius: 50%;
    height: 40px;
    aspect-ratio: 1 / 1;
}

#feedbackBanner {
    background-color: var(--steelblue);
    width: 100%;
    display: flex;
    align-items: center;
    padding: 23px;
    border-radius: 10px
}

#feedbackBanner > img {
    margin-right: 17px;
}

#suggestionCount {
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-right: 35px;
}

.button {
    all: unset;
    cursor: pointer;
    padding: 14px 24px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    height: auto;
    transition: background-color ease 0.15s;
}

.button.purple {
    background-color: var(--purple);
    color: white;
}

.button.purple:hover {
    background-color: #C75AF6
}

.button.grey {
    background-color: var(--light-steel-blue);
    color: white;
}

.button.grey:hover {
    background-color: #656EA3
}

.button.blue {
    background-color: var(--blue);
    color: white;
}

.button.blue:hover {
    background-color: #7C91F9
}

.button.red {
    background-color: #D73737;
    color: white;
}

.button.red:hover {
    background-color: #E98888
}

#feedbackContainer {
    height: 100%;
    width: 100%;
}

.feedback {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 35px;
    margin-bottom: 20px
}

.feedback .category {
    cursor: default !important;
}

.feedbackLHS {
    display: grid;
    grid-template-areas: "a b" "c d"
}

.feedbackRHS {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 18px;
    color: var(--light-steel-blue);
    font-weight: bold;
}

.feedbackUpvotes {
    background-color: var(--lightgrey);
    padding: 13px;
    border-radius: 10px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: bold;
    color: var(--light-steel-blue);
    margin-right: 40px;
    cursor: pointer;
    transition: 0.15s ease background-color;
    height: min-content;
}

.feedbackUpvotes:hover {
    background-color: #CFD7FF;
}

.feedbackUpvotes::before {
    content: "";
    display: block;
    width: 10px;
    height: 5px;
    background-image: url(/images/icons/downArrowBlue.svg);
    transform: rotate(180deg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.feedbackTitle {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
    color: var(--light-steel-blue);
    transition: 0.15s ease color;
    cursor: pointer;
}

.feedbackTitle:hover {
    color: var(--blue);
}

.feedbackDetails {
    color: var(--blue-grey);
    font-size: 16px;
}

.feedback .category {
    grid-area: d;
    margin-top: 10px;
}

.invisible {
    all: unset;
    line-height: 0px
}

.invisible > * {
    line-height: normal !important;
}

.upvoted {
    background-color: var(--blue) !important;
    color: white !important;
}

.upvoted::before {
    background-image: url(/images/icons/downArrow.svg) !important;
}

/* Home Page Responsive Styles */
@media only screen and (max-width: 800px) {
    #homeContainer {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }

    #homeLHS {
        grid-template-rows: auto auto;
        grid-template-columns: auto auto auto;
        width: 100%;
        max-width: none;
    }

    #roadmapWidget {
        min-width: 200px
    }

    #titleWidget {
        height: 100%
    }

    #userWidget {
        grid-column: span 3
    }
}

/* Create Feedback Page Styles */
.formPageContainer {
    width: 100%;
    max-width: 620px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding: 90px 20px 20px 20px;
}

.form {
    background-color: white;
    position: relative;
    padding: 43px 60px;
    border-radius: 10px;
}

.form h2 {
    font-size: 24px;
    font-weight: bold;
    color: var(--light-steel-blue);
}

.formCircle {
    height: 56px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: var(--gradient-background);
    background-size: 200% 200%;
    transform: translateY(-50%) rotate(-90deg);
    position: absolute;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formCircle img {
    transform: rotate(90deg);
}

.back {
    text-decoration: none;
    color: var(--blue-grey);
    font-size: 14px;
}

.back:before {
    content: "";
    display: inline-block;
    margin-right: 16px;
    height: 9px;
    width: 5px;
    background-image: url(/images/icons/backArrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.back:hover {
    text-decoration: underline;
}

.formInputContainers {
    width: 100%;
    margin-top: 40px;
}

.formInputLabelContainer {
    margin-bottom: 30px;
}

.formInputLabelContainer span, form span{
    color: red;
    font-size: 14px;
}

.input-validation-error {
    border-color: red !important;
}

.labelPrimary {
    color: var(--steelblue);
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10pxx;
}

.labelSecondary {
    color: var(--blue-grey);
    display: block;
    font-size: 14px;
}

.formInputLabelContainer input, textarea, .selectSelected {
    width: 100%;
    padding: 18px 24px;
    color: var(--steelblue);
    background-color: var(--utlra-lightgrey);
    font-size: 15px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    border: transparent 1px solid;
}

textarea {
    max-width: 100%;
    resize: vertical;
}

.formInputLabelContainer input:focus, textarea:focus {
    border-color: var(--blue) !important;
    outline: none !important;
}

.formButtons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
}

.customSelect {
    position: relative;
    width: 100%;
}

.customSelect select {
    display: none;
}

.selectSelected {
    background-color: var(--utlra-lightgrey);
    border-color: transparent;
    outline: none !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customSelected::after {
    content: "";
    display: block;
    height: 9px;
    width: 13px;
    background-image: url(/images/icons/purpleTick.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

.selectSelected:after {
    content: "";
    display: block;
    width: 10px;
    height: 5px;
    background-image: url(/images/icons/downArrowBlue.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.15s ease transform;
}

.selectArrowActive {
    border-color: var(--blue);
}

.selectSelected.selectArrowActive:after {
    transform: rotate(180deg);
}

.selectItems div, .selectSelected {
    color: var(--steelblue);
    cursor: pointer;
}

.selectItems div:first-child {
    border-radius: 10px 10px 0px 0px;
}

.selectItems div:last-child {
    border-radius: 0px 0px 10px 10px;
}

.selectItems div {
    border-bottom: 1px solid #E2E3EA;
    padding: 15px 26px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    
}

.selectItems {
    position: absolute;
    background-color: white;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    box-shadow: 0px 0px 10px lightgrey;
    border-radius: 10px;
    margin-top: 10px;
}

.selectHide {
    display: none;
}

.selectItems div:hover, .customSelected {
    color: var(--purple);
}

/* View Feedback Page Styles */
.feeedbackViewContainer {
    max-width: 830px;
    width: 100%;
    padding: 90px 20px 20px 20px;
}

.feedbackViewContainerHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 25px;
}

.feedbackViewContainerHeader .selectSelected {
    margin-top: 0px !important;
}

.feedbackViewContainerHeader .customSelect {
    max-width: 150px !important;
}

.feedbackViewContainerHeaderRHS {
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
}

.addCommentSection {
    width: 100%;
    background-color: white;
    padding: 28px 35px;
    margin-top: 30px;
    height: max-content;
    border-radius: 10px;
}

.addCommentSection form {
    height: max-content;
}

.addCommentSection {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
    color: var(--light-steel-blue);
    transition: 0.15s ease color;
}

.feedbackComment {
    display: grid;
    grid-template-areas: "a b" "a c" "d e";
    grid-template-rows: auto auto auto;
    grid-template-columns: min-content 1fr;
    margin-top: 35px;
}

.feedbackComment > img {
    grid-area: a;
    margin-right: 20px;
}

.commentTop {
    grid-area: b;
    display: flex;
    justify-content: space-between;
}

.commentContent {
    grid-area: c;
    color: var(--blue-grey);
    font-size: 15px;
    font-weight: lighter;
    margin-top: 10px;
}

.username {
    font-size: 15px;
    color: var(--light-steel-blue);
    font-weight: bold;
}

.username span{
    color: var(--purple);
    margin-left: 5px
}

.email {
    color: var(--blue-grey);
    font-size: 13px;
}

.commentRHSControls {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;

}

.reply {
    color: var(--blue);
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

.replyForm {
    grid-area: e;
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-top: 25px;

}

.replyForm textarea {
    margin: 0px !important;
    width: 100%;
    max-width: 100%;
}

.replyForm.invisible {
    display: none;
}

/* Roadmap Page Styles */
.roadmapContainer {
    width: 100%;
    max-width: 1300px;
    max-height: 100%;
    padding: 0px 20px 20px 20px;
    margin-top: 95px;
}

.roadmapHeader {
    background-color: var(--steelblue);
    width: 100%;
    display: flex;
    align-items: center;
    padding: 23px;
    border-radius: 10px
}

.roadmapHeader .back {
    color: white;
}

.roadmapHeader .back:before {
    background-image: url(/images/icons/backArrowLight.svg) !important;
}

.roadmapHeaderLHS > p {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.roadmapBody {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 30px
}

.roadmapCategoryHeader p:nth-child(1) {
    color: var(--light-steel-blue);
    font-weight: bold;
    font-size: 18px;
}

.roadmapCategoryHeader p:nth-child(2) {
    color: var(--blue-grey);
    font-size: 16px;
    margin-bottom: 20px;
}

.roadmapItem {
    background-color: white;
    padding: 35px;
    border-radius: 10px;
    max-width: 350px;
    width: 100%;
    position: relative;
    margin-bottom: 25px;
}

.topBorder {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 6px;
    width: 100%;
    display: block;
    border-radius: 10px 10px 0px 0px;
}

.topBorder.planned {
    background-color: var(--orange);
}

.topBorder.in-progress {
    background-color: var(--purple);
}

.topBorder.live {
    background-color: var(--lightblue);
}

.roadmapItemCategory {
    color: var(--blue-grey);
    font-size: 16px;
    margin-bottom: 10px;
}

.roadmapItemCategory:before {
    display: inline-block;
    width: 8px;
    height: 8px;
    content: "";
    margin-right: 16px;
    border-radius: 50%;
}

.roadmapItemCategory.planned:before {
    background-color: var(--orange);
}

.roadmapItemCategory.in-progress:before {
    background-color: var(--purple);
}

.roadmapItemCategory.live:before {
    background-color: var(--lightblue);
}

.roadmapItemDetails {
    color: var(--blue-grey);
    font-size: 16px;
}

.roadmapItem .category {
    margin-top: 16px;
    margin-bottom: 16px;
}

.roadmapBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Roadmap Page Responsive Styles */
@media only screen and (max-width: 900px) {
    .roadmapBody {
        grid-template-columns: 1fr;
        width: 100%;
        justify-items: center;
        align-items: center;
    }

    .roadmapCategoryHeader {
        text-align: center
    }
}