@model Product_Feedback_App.Models.View.AccountLoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="formPageContainer">
    <form class="form" method="post">
        <div class="formCircle">
            <img src="/images/icons/profile.svg" alt="Profile" />
        </div>
        <h2>Login To View Content</h2>
        <div class="formInputContainers">
            <div class="formInputLabelContainer">
                <label for="username" class="labelPrimary">Username</label>
                <input id="username" type="text" autocomplete="off" asp-for="Username" />
                <span asp-validation-for="Username"></span>
            </div>
            <div class="formInputLabelContainer">
                <label for="password" class="labelPrimary">Password</label>
                <input type="password" id="password" autocomplete="off" asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>
        </div>
        <div class="formButtons">
            <a class="invisible" asp-controller="Account" asp-action="Register"><button type="button" class="button grey">Register</button></a>
            <button class="button purple" type="submit">Login</button>
        </div>
    </form>
</div>
