@model Product_Feedback_App.Models.View.AccountRegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<div class="formPageContainer">
    <form class="form" method="post">
        <div class="formCircle">
            <img src="/images/icons/profile.svg" alt="Profile" />
        </div>
        <h2>Register</h2>
        <div class="formInputContainers">
            <div class="formInputLabelContainer">
                <label for="username" class="labelPrimary">Username</label>
                <input id="username" type="text" autocomplete="off" asp-for="Username" />
                <span asp-validation-for="Username"></span>
            </div>
            <div class="formInputLabelContainer">
                <label for="email" class="labelPrimary">Email</label>
                <input id="email" type="text" autocomplete="off" asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="formInputLabelContainer">
                <label for="password" class="labelPrimary">Password</label>
                <input type="password" id="password" autocomplete="off" asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="formInputLabelContainer">
                <label for="profilePicture" class="labelPrimary">Upload Profile Picture</label>
                <div style="display: flex; align-items: center; width: 100%; gap: 10px; margin-top: 10px;">
                    <input type="file" id="profilePicture" style="margin-top: 0px;"/>
                    <input type="hidden" id="fileUploadUrl" asp-for="ProfilePictureUrl" />
                    <img src="" id="previewProfilePicture" style="display: none; height: 50px; width: 50px; border-radius: 50%;" />
                    <span asp-validation-for="ProfilePictureUrl"></span>
                </div>
                <span asp-validation-for="Password"></span>
            </div>
        </div>
        <div class="formButtons">
            <a class="invisible" asp-controller="Account" asp-action="Login"><button type="button" class="button grey">Login</button></a>
            <button class="button purple" type="submit">Register</button>
        </div>
    </form>
</div>

@section Scripts{
    <script>
        const profilePictureElement = document.getElementById("profilePicture");
        const previewProfilePictureElement = document.getElementById("previewProfilePicture");
        const fileUploadUrlElement = document.getElementById("fileUploadUrl");

        profilePictureElement.addEventListener("change", async (event) => {

            console.log("Upload");

            let data = new FormData();
            data.append("formFile", profilePictureElement.files[0]);

            console.log(event.target.files[0]);

            await fetch("/api/images", {
                method: "POST",
                headers: {
                    "Accept": "*/*"
                },
                body: data
            }).then(response => response.json()).then(result => {
                fileUploadUrlElement.value = result.imageUrl
                previewProfilePictureElement.src = result.imageUrl;
                previewProfilePictureElement.style.display = "block";
            });
        });
    </script>
}