@model Product_Feedback_App.Models.View.AccountRegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<div class="formPageContainer">
    <a asp-controller="Home" asp-action="Index" class="back">Go Back</a>
    <form class="form" method="post">
        <div class="formCircle">
            <img src="/images/icons/profile.svg" alt="Profile" />
        </div>
        <h2>Login To View Content</h2>
        <div class="formInputContainers">
            <div class="formInputLabelContainer">
                <label for="username" class="labelPrimary">Username</label>
                <input id="username" type="text" autocomplete="off" asp-for="Username" />
                <span asp-validation-for="Username"></span>
            </div>
            <div class="formInputLabelContainer">
                <label for="email" class="labelPrimary">Email</label>
                <input id="email" type="text" autocomplete="off" asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="formInputLabelContainer">
                <label for="password" class="labelPrimary">Password</label>
                <input type="password" id="password" type="text" autocomplete="off" asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>
        </div>
        <div class="formButtons">
            <button class="button grey">Login</button>
            <button class="button purple" type="submit">Register</button>
        </div>
    </form>
</div>